* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0e0e0e;
    overflow-x: hidden;
}

main {
    color: white;
}

.navigation-menu{
    display: flex;
    align-items: center;
}
.logo-div {
    display: flex;
    align-items: center;
    color: white;
    
}
a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

nav img {
    width: 127px;
    height: 135px;
}

.navigation-menu a {
    margin-right: 40px;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.navigation-menu a:hover{
    border-bottom: 4px solid #c00000;
    color: #c00000;
    transition: 0.2s ease;
}
.login{
    cursor: pointer;
}
.login:hover{
    color: #4687b8;
    transition: 0.2s ease;
}

/*Main Content*/
.home-container {
    max-height: 100%;
}
.carousel {
    height: 550px;
    position: relative;
}
.slider-container {
    height: 500px;
    position: relative;
}

/*dugmici za slajdovanje*/
.css-1m9128y {
    position: absolute !important;
}
.slider-img {
    height: 500px;
    width: 100%;
}
/*slider button*/
/*mora da se koristi !important zato sto material ui ima ugradjene stilove*/
.CheckButton {
    border-radius: 15px !important;
    background-color: #4082b4 !important;
    position: absolute !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 1em !important;
    bottom: 20px !important;
}
.CheckButton:hover {
    background-color: #c00000 !important;
    color: white !important;
    transition: 0.4s ease !important;
}

/*material ui selector za div oko slidera koji mu daje padding*/
.css-1ps6pg7-MuiPaper-root {
    padding: 0 !important;
}

.promotions {
    display: flex;
    height: 400px;
    padding: 2em;
    width: 100%;
    justify-content: space-around;
}
.promo-img {
    height: 300px;
    width: 500px;
}
.promo-img > img {
    width: 100%;
    height: 100%;
}

.popular-categories {
    padding: 2em;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100%;
    background-color: #c00000;
}
.kategorije {
    padding: 5em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.kategorije > a {
    margin: 0 2em 2em 2em;
}
.kategorije > a > h3 {
    margin-top: 10px;
    color: white;
}
.kategorije > a > h3:hover {
    color: black;
    transition: 0.4s ease;
}
/*Footer*/
footer{
    background-color: #0e0e0e;
    padding: 50px;
}

footer span{
    color: white;
    font-size: 18px;
    padding-left: 7px;
}

.information div{
    margin-bottom: 10px;
}
.more-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-info img{
    width: 170px;
    height: 170px;
}
.ecommerce{
    display: flex;
    align-items: center;
}
.ecommerce h2{
    color: white;
    font-size: 39px;
}
.webshop p{
    color: white;
    font-size: 18px;
    margin-bottom: 0.7rem;
}
.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.cards span img{
    width: 40px;
    height: 35px;
}
.color-white{
    color: white;
}
.delivery{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 2rem;
}
.delivery span{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery-span{
    margin-right: 3rem;
}
.fa-truck, .fa-cart-arrow-down, .fa-mobile-screen, .fa-shield, .fa-headphones, .fa-hand-holding-heart{
    height: 4em;
    margin-bottom: 1rem;
}
.text{
    text-align: center;
}

.more-info{
    width: 90%;
    margin: 0 auto;
}
